.banner{
    position: relative;
    background-image: url(../images/fengmian.jpg);
    background-size: cover;
    height: 500px;
}
.news_center{
    position: absolute;
    top: 100px;
    right: 300px;
}
.news_hd li{
    float: left;
    width: 100px;
    margin-right: 20px;  
    margin-bottom: 10px; 
}
.news_hd li a{
    display: inline-block;
    height: 40px;
    width: 100px;
    font-size: 26px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.news_hd .current {
    color: #ff8400;
    background-color: rgba(0, 0, 0, .5)
}
.item {
    display: none
}
.item:first-child{
    display: block;
}
.news_content li{
    margin-top: 10px;
    font-size: 22px;
}